<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Votación Uno A Todos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf = 'inscripcionAlumnoJuegoDeVotacionUnoATodos && !inscripcionAlumnoJuegoDeVotacionUnoATodos.Votos'>
    <div style="text-align:center; margin-top: 10%;">  
      <ion-button class="ranking-btn" (click)="Enviar()"> Envía tu votación </ion-button>  
    </div> 
    

  <ion-list *ngIf = 'alumnos'>
    <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">

      <ion-item *ngFor="let alumno of alumnos; let i=index">
        <ion-item>
        <ion-label>
          {{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}
        </ion-label>
        </ion-item>
        <ion-label *ngIf = 'i < juegoSeleccionado.Puntos.length' style="font-size: large; color: red; text-align: right;">
         {{juegoSeleccionado.Puntos[i]}}
        </ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>
  </div>
  <div *ngIf = 'inscripcionAlumnoJuegoDeVotacionUnoATodos && inscripcionAlumnoJuegoDeVotacionUnoATodos.Votos'>
    <h2 style="text-align: center;">Esta ha sido tu votación</h2>
    <ion-list *ngIf = 'alumnosVotados'>
      <!-- <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false"> -->

        <ion-item *ngFor="let alumno of alumnosVotados; let i=index">
          <ion-item>
          <ion-label>
            {{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}
          </ion-label>
          </ion-item>
          <ion-label *ngIf = 'i < juegoSeleccionado.Puntos.length' style="font-size: large; color: green; text-align: right;">
          {{juegoSeleccionado.Puntos[i]}}
          </ion-label>
          <!-- <ion-reorder slot="end"></ion-reorder> -->
        </ion-item>
      <!-- </ion-reorder-group> -->
    </ion-list>
  </div>

</ion-content>
