<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="menu-btn"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Juegos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="juegos-content">


  <div>
    <ion-row style="height: 25px"></ion-row>
    <img height= "40px" src="../../assets/home/Active-games-banner.svg">

    <div *ngIf="!JuegosActivos[0]">
      <br>
      <br>
      <br>
      <p style = "font-size:x-large">No hay juegos activos</p>
    </div>
    
    <div *ngIf="JuegosActivos.length > 1">
      <button *ngIf="!disablePrevBtn" class = "anterior" mat-raised-button  (click)="prev()">Anterior</button>
      <button *ngIf="!disableNextBtn"  class = "siguiente" mat-raised-button  (click)="next()">Siguiente</button>
    </div>


    <ion-slides  #slides (ionSlideWillChange)="doCheck()" >
      <ion-slide *ngFor="let juego of JuegosActivos">
        <div>
          <ion-card class="juegos-card-bg">
            <div class = "info-juego">
              <h2> {{juego.NombreJuego}} </h2>
              <h3>{{ juego.Tipo }}</h3>
              <p>{{ juego.Modo }}</p> 
            </div>
             <div class="logo-btn">
              <img *ngIf="juego.Tipo == 'Juego De Puntos'" class = "card-img" src="../../assets/img/puntosicon.svg">
              <img *ngIf="juego.Tipo == 'Juego De Colección'" class = "card-img" src="../../assets/img/collectionicon.svg">
              <img *ngIf="juego.Tipo == 'Juego De Competición Fórmula Uno'" class = "card-img" src="../../assets/img/f1icon.svg">
              <img *ngIf="juego.Tipo == 'Juego De Competición Liga'" class = "card-img" src="../../assets/img/ligaicon.svg">
              <img *ngIf="juego.Tipo == 'Juego De Cuestionario'" class = "card-img" src="../../assets/img/cuestionariosicon.svg">
              <img *ngIf="juego.Tipo == 'Juego De Geocaching'" class = "card-img" src="../../assets/img/location_icon.svg">
              <img *ngIf="juego.Tipo == 'Juego De Avatar'" class = "card-img" src="../../assets/img/avataricon.svg">

              <img *ngIf="juego.Tipo == 'Juego De Votación Uno A Todos'" class = "card-img" src="../../assets/img/votaciones.jpg">
              <img *ngIf="juego.Tipo == 'Juego De Votación Todos A Uno'" class = "card-img" src="../../assets/img/votaciones.jpg"> 
              <img *ngIf="juego.Tipo == 'Juego De Cuestionario de Satisfacción'" class = "card-img" src="../../assets/img/satisfaccion.png">
              <img *ngIf="juego.Tipo == 'Evaluacion'" class = "card-img" src="../../assets/img/evaluacion.png">
              <img *ngIf="juego.Tipo == 'Control de trabajo en equipo'" class = "card-img" src="../../assets/img/TrabajoEnEquipo.jpg">


               
              <ion-button class="card-btn" expand="full" (click)=JuegoSeleccionado(juego) shape="round">Ver más</ion-button>
             </div>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
  </div>


</ion-content>