<ion-header>
  <ion-toolbar>
    <ion-title style="color: floralwhite; margin-top: 7%; margin-right: 10%;">Mis Juegos Activos</ion-title>
    <img class = "ClasspipCabeceraimg" src="../../assets/icon/classpip1.png">
    <ion-buttons slot="start" style="color: floralwhite;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>    
  </ion-toolbar>
</ion-header>

<ion-content background-color="secondary">

        <!--Se define la cabecera de los Juegos Activos-->
        <!--ion-item class="CabeceraActivos">Juegos Activos
                <ion-icon name="logo-game-controller-a" item-start ></ion-icon>
        </ion-item-->
    
              <!--Se define el contenido de la tabla de Juegos Activos-->
              <ion-list *ngIf="JuegosActivos[0];else Aviso_no_juegos_activos">
                    <!--Si no tiene valor JuegosActivos,
                    entonces aparecerá la alerta de Aviso_no_Juegos_Activos-->
                        <ion-list class="container" *ngFor="let juego of JuegosActivos" (click) = JuegoSeleccionado(juego) >
                          <h2 style="text-align: center;">{{juego.Tipo}}</h2>
                          <p style="text-align: center;" id="p"> {{juego.Modo}} </p>
                        </ion-list>

    
              </ion-list>
              <ng-template #Aviso_no_juegos_activos >
                <label class = "AvisoNoJuegosActivo" >
                  <b>No tienes juegos activos</b></label>
        </ng-template>

</ion-content>
