<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Evaluación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>A</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>B</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>C</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>D</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>E</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
