<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Juego de Evaluación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Juego de Evaluación</ion-card-subtitle>
      <ion-card-title>{{juego.NombreJuego}}</ion-card-title>
      <ion-card-subtitle>
        Modo: <b>{{juego.Modo}}</b>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Descripción para que se sepa que se evlaua. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </ion-card-content>
  </ion-card>
  <!--JUEGO INDIVIDUAL-->
  <ion-list *ngIf="juego.Modo === 'Individual' && juego.autoEvaluacion">
    <ion-list-header>
      <h1>Autoevaluación</h1>
    </ion-list-header>
    <ion-item (click)="VerPaginaEvaluar(miAlumno.id)">
      <ion-avatar slot="start">
        <img src="{{miAlumno.ImagenPerfil}}" alt="profile">
      </ion-avatar>
      <ion-label>
        <h2>{{miAlumno.Nombre}} {{miAlumno.PrimerApellido}} {{miAlumno.SegundoApellido}}</h2>
        <h3><i>Aún no te has autoevaluado...</i></h3>
      </ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="juego.Modo === 'Individual'">
    <ion-list-header>
      <h1>A evaluar</h1>
    </ion-list-header>
    <ion-item *ngFor="let alumno of alumnosJuegoEvaluado | filtrarAlumnoEvaluador:miAlumno.id" (click)="VerPaginaEvaluar(alumno.alumnoEvaluadoId)">
      <ion-avatar slot="start">
        <img src="{{DameUrlImagenPerfil(alumno.alumnoEvaluadoId)}}" alt="profile">
      </ion-avatar>
      <ion-label>
        <h2>{{DameNombreCompleto(alumno.alumnoEvaluadoId)}}</h2>
        <h3><i>Aún no has evaluado...</i></h3>
      </ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
  <!--JUEGO EQUIPOS EVALUADOS POR ALUMNOS -->
  <ion-list *ngIf="juego.Modo === 'Equipos' && juego.autoEvaluacion">
    <ion-list-header>
      <h1>Autoevaluación</h1>
    </ion-list-header>
    <ion-item (click)="VerPaginaEvaluar(miEquipo.id)">
      <ion-avatar slot="start">
        <img src="{{miEquipo ? miEquipo.FotoEquipo : ''}}" alt="profile">
      </ion-avatar>
      <ion-label>
        <h2>{{miEquipo ? miEquipo.Nombre : ''}}</h2>
        <h3><i>Aún no te has autoevaluado...</i></h3>
      </ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="juego.Modo === 'Equipos' && equiposPorEquipos == false">
    <ion-list-header>
      <h1>A evaluar</h1>
    </ion-list-header>
    <ion-item *ngFor="let equipo of equiposJuegoEvaluado | filtrarEquipoEvaluador:{alumnoId:miAlumno.id, equipoId:null}" (click)="VerPaginaEvaluar(equipo.equipoEvaluadoId)">
      <ion-avatar slot="start">
        <img src="{{DameFotoEquipo(equipo.equipoEvaluadoId)}}" alt="profile">
      </ion-avatar>
      <ion-label>
        <h2>{{DameNombreEquipo(equipo.equipoEvaluadoId)}}</h2>
        <h3><i>Aún no has evaluado...</i></h3>
      </ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
  <!--JUEGO EQUIPOS EVALUADOS POR EQUIPOS -->
  <ion-list *ngIf="juego.Modo === 'Equipos' && equiposPorEquipos == true">
    <ion-list-header>
      <h1>A evaluar</h1>
    </ion-list-header>
    <ion-item *ngFor="let equipo of equiposJuegoEvaluado | filtrarEquipoEvaluador:{alumnoId:null, equipoId: miEquipo.id}" (click)="VerPaginaEvaluar(equipo.equipoEvaluadoId)">
      <ion-avatar slot="start">
        <img src="{{DameFotoEquipo(equipo.equipoEvaluadoId)}}" alt="profile">
      </ion-avatar>
      <ion-label>
        <h2>{{DameNombreEquipo(equipo.equipoEvaluadoId)}}</h2>
        <h3><i>Aún no has evaluado...</i></h3>
      </ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
