<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Votación Todos A Uno</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "juegoSeleccionado.Modo === 'Individual'" >
    <br>
    <h4 style = "text-align: center;color: rgb(165, 32, 32)">Conceptos</h4>
    <ion-list>
      <ion-item *ngFor ="let concepto of juegoSeleccionado.Conceptos; let i=index">
        <ion-label><strong>{{concepto}}</strong>, que tiene un peso del {{juegoSeleccionado.Pesos[i]}}% </ion-label>
      </ion-item>
    </ion-list>
    <h4 *ngIf = "VotacionFinalizada()" style = "text-align: center;color: rgb(12, 126, 46)">Ya has completado tus votaciones</h4>
    <div>
      <h4 style = "text-align: center;color: rgb(165, 32, 32)">Tus votaciones</h4>
      <mat-accordion #accordion="matAccordion" [multi]="true">
        <div *ngFor="let item of listaAlumnos; let pos=index">
          <mat-expansion-panel *ngIf = "item.registrado" disabled>
            <mat-expansion-panel-header>
                <ion-item style= "width: 50%">
                  <ion-label>
                    {{item.al.Nombre}} {{item.al.PrimerApellido}}
                  </ion-label>
                </ion-item> 
                <ion-item  *ngFor="let concepto of juegoSeleccionado.Conceptos; let i=index" style= "width: 15%">
                  <ion-label style="color: green; text-align: right;">
                    {{item.votos[i]}}
                  </ion-label>

                </ion-item>
              
            </mat-expansion-panel-header>

            
        
          </mat-expansion-panel>
          <mat-expansion-panel *ngIf = "!item.registrado">
            <mat-expansion-panel-header (click)="MuestraPicker(pos)">
                <ion-item style= "width: 50%">
                  <ion-label>
                    {{item.al.Nombre}} {{item.al.PrimerApellido}}
                  </ion-label>
                </ion-item> 
                <ion-item *ngFor="let concepto of juegoSeleccionado.Conceptos; let i=index" style= "width: 15%">
           
                  <ion-label *ngIf = "!item.votos">
                      
                  </ion-label>
                  <ion-label *ngIf = "item.votos" style=" color: red; text-align: right;">
                    {{item.votos[i]}}
                  </ion-label>
          

                </ion-item>
              
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </div>
      </mat-accordion>

      <ion-list style="text-align:center">
          <ion-button *ngIf = "!VotacionFinalizada()" class="ranking-btn" (click)="Enviar();">Enviar votaciones</ion-button> 
      </ion-list>

    </div>
</ion-content>

<ion-content *ngIf = "juegoSeleccionado.Modo === 'Equipos'">
  <br>
    <h4 style = "text-align: center;color: rgb(165, 32, 32)">Conceptos</h4>
    <ion-list>
      <ion-item *ngFor ="let concepto of juegoSeleccionado.Conceptos; let i=index">
        <ion-label><strong>{{concepto}}</strong>, que tiene un peso del {{juegoSeleccionado.Pesos[i]}}% </ion-label>
      </ion-item>
    </ion-list>
    <h4 *ngIf = "VotacionFinalizadaEquipos()" style = "text-align: center;color: rgb(12, 126, 46)">Ya has completado tus votaciones</h4>
    <div>
      <h4 style = "text-align: center;color: rgb(165, 32, 32)">Tus votaciones</h4>
      <mat-accordion #accordion="matAccordion" [multi]="true">
        <div *ngFor="let item of listaEquipos; let pos=index">
          <mat-expansion-panel *ngIf = "item.registrado" disabled>
            <mat-expansion-panel-header>
                <ion-item style= "width: 50%">
                  <ion-label>
                    {{item.eq.Nombre}}
                  </ion-label>
                </ion-item> 
                <ion-item  *ngFor="let concepto of juegoSeleccionado.Conceptos; let i=index" style= "width: 15%">
                  
                  <ion-label style="color: green; text-align: right;">
                    {{item.votos[i]}}
                  </ion-label>

                </ion-item>
              
            </mat-expansion-panel-header>

            
        
          </mat-expansion-panel>
          <mat-expansion-panel *ngIf = "!item.registrado">
            <mat-expansion-panel-header (click)="MuestraPicker(pos)">
                <ion-item style= "width: 50%">
                  <ion-label>
                    {{item.eq.Nombre}}
                  </ion-label>
                </ion-item> 
                <ion-item *ngFor="let concepto of juegoSeleccionado.Conceptos; let i=index" style= "width: 15%">
           
                  <ion-label *ngIf = "!item.votos">
                      
                  </ion-label>
                  <ion-label *ngIf = "item.votos" style=" color: red; text-align: right;">
                    {{item.votos[i]}}
                  </ion-label>
          

                </ion-item>
              
            </mat-expansion-panel-header>
          </mat-expansion-panel>
        </div>
      </mat-accordion>

      <ion-list style="text-align:center">
          <ion-button *ngIf = "!VotacionFinalizadaEquipos()" class="ranking-btn" (click)="Enviar();">Enviar votaciones</ion-button> 
      </ion-list>

    </div>
</ion-content>
