<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Votación A Opciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = 'haVotado'>
  <!-- Ya ha votado -->
  <div>
   <h2 style="text-align: center;">Esta ha sido tu votación</h2>
   <!-- Solo muestro los alumnos que recibieron votos -->
   <ion-list *ngIf = 'misVotos'>
       <ion-item *ngFor="let voto of misVotos; let i=index">
         <ion-item>
         <ion-label >
           {{voto.opcion}} 
         </ion-label>
         </ion-item>
         <ion-label style="font-size: large; color: green; text-align: right;">
           {{voto.puntos}}
         </ion-label>
       </ion-item>
   </ion-list>
   <br>
   <div style="text-align:center; margin-top: 10%;">  
    <ion-button class="ranking-btn" (click)="Cerrar()"> Salir </ion-button>  
  </div> 
 </div>
 </ion-content>

<ion-content *ngIf = "!haVotado && juegoSeleccionado.ModoReparto !== 'Reparto libre'">

  <!-- Si aun no ha votado -->
  <div *ngIf = 'juegoSeleccionado'>
    <div style="text-align:center; margin-top: 10%;">  
      <ion-button class="ranking-btn" (click)="EnviarVotacion()"> Envía tu votación </ion-button>  
    </div> 
    <ion-list>
      <ion-reorder-group (ionItemReorder)="reorderItems($event)" disabled="false">

        <ion-item *ngFor="let opcion of juegoSeleccionado.Opciones; let i=index">
          <ion-item>
          <ion-label>
            {{opcion}}
          </ion-label>
          </ion-item>
          <!-- En el caso de que estemos en una de las posiciones que recibe puntos, muestro los puntos que le corresponden -->
          <ion-label *ngIf = 'i < juegoSeleccionado.Puntos.length' style="font-size: large; color: red; text-align: right;">
          {{juegoSeleccionado.Puntos[i]}}
          </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>
  </div>
</ion-content>

<ion-content *ngIf = "!haVotado && juegoSeleccionado.ModoReparto === 'Reparto libre'">

  
    <div *ngIf = 'puntosARepartir === 0' style="text-align:center; margin-top: 10%;">  
      <ion-button class="ranking-btn" (click)="EnviarVotacion()"> Envía tu votación </ion-button>  
    </div> 
    <br>
    <ion-list style="text-align:center">
      <ion-label align = "center">
      <span  style = "font-size: 2em;">Reparte </span>  
      <span  style = "font-size: 3em; color: red">{{puntosARepartir}}</span>   
      <span  style = "font-size: 2em;">  puntos </span>
      </ion-label>
    </ion-list>
    <br>
    <ion-item *ngFor="let item of opcionesConPuntos; let i=index">
      
      <ion-label>
          {{item.opcion}}
      </ion-label>

      <ion-label style="text-align: right;">
        <span (click)="Decrementar (i)" style = "color: red" class="material-icons"> remove_circle_outline</span>
        <span style = "font-size: 2em"> {{item.puntos}} </span>
        <span (click)="Incrementar (i)" style = "color: green" class="material-icons"> add_circle_outline</span>
        </ion-label>
    </ion-item>


</ion-content>


