//Se define el tama침o de la carta del cromo y los bordes que va a tener.
.cromo {
    max-width: 130px;
    max-height: 130px;
    width: 130px;
    height: 130px;
    padding-top:6%;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }

//Se define el color, el tama침o y el peso de la fuente que se utilizar치 para el Nombre
//del Cromo.
  #NombreCromo{
    color:rgb(255, 255, 255);
    font-size: 12px;
    margin-left:2px;
    text-transform: uppercase;
  }

  //Se define el tama침o, los bordes y el margen a otros elementos de la imagen del Cromo.
  .imagenCromo {
    max-width: 115px;
    max-height: 80px;
    width: 115px;
    height: 80px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    position: relative;
    margin-left:5%;
    margin-right: 5%;
  }
.MeFalta {
    opacity: 0.5 !important;
    background-color: rgb(235, 235, 228) !important;
    box-shadow: 0px 3px 6px 0px  rgb(126, 138, 141) !important;
  }