<ion-header>
  <ion-toolbar>
    <ion-title style="color: floralwhite;margin-top: 7%; margin-right: 10%;text-align: center;">Álbum</ion-title>
    <img class = "ClasspipCabeceraimg" src="../../assets/icon/classpip1.png">
    <ion-buttons slot="start" style="color: floralwhite;">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let elem of listaCromosSinRepetidos;let i = index">
    <img [src]="MisImagenesCromo[i]" >
    <ion-card-content>
      <ion-card-title style="color: rgb(0, 68, 107);">
        <b>{{elem.cromo.Nombre}}</b>
      </ion-card-title>
      <p style="color: rgb(0, 68, 107);">
        Repeticiones: x{{elem.rep}}
      </p>
    </ion-card-content>
  </ion-card>
  <ion-card class="MeFalta" *ngFor="let elem of CromosQueNoTengo;let i = index">
    <img [src]="ImagenesCromosQueNoTengo[i]" >
    <ion-card-content>
      <ion-card-title>
        {{elem.cromo.Nombre}}
      </ion-card-title>
      <p>
        Repeticiones: x{{elem.rep}}
      </p>
    </ion-card-content>
  </ion-card>

  
</ion-content>
