ion-toolbar {
    --ion-background-color:rgb(0, 68, 107);
  }
  .ClasspipCabeceraimg{
    position:relative;
    width:30px;
    height:30px;
    margin-left: 10%;
    margin-right: -20%;
    margin-top: -10%;
    margin-bottom: 3%;
}