<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="menu-btn"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div padding>
    <ion-segment [(ngModel)]="Tipo">
      <ion-segment-button value="Alumnos">
        <ion-icon style="color: rgb(15, 15, 146);" name="person"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Equipos">
        <ion-icon style="color: rgb(15, 15, 146);" name="people"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="Tipo">

    <div *ngFor="let elem of listaGruposYAlumnos;let i = index">
      <ion-row style="height: 5px"></ion-row>
      <ng-container *ngSwitchCase="'Alumnos'">
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <b>{{elem.Grupo}}</b>
          </mat-expansion-panel-header>
          <ion-card *ngFor="let alum of listaGruposYAlumnos[i].Alumnos">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <!-- <img src="../../assets/img/usuario.svg"> -->
                <img *ngIf = "alum.ImagenPerfil" [src] = "alum.ImagenPerfil">
              </ion-avatar>
              <ion-label>
                <h2> {{alum.Nombre}} {{alum.PrimerApellido}} {{alum.SegundoApellido}} </h2>
                <p>-Frase alumno-</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </mat-expansion-panel>
      </ng-container>
    </div>
    <!-- <mat-accordion #accordion="matAccordion" [multi]="true"> -->
   
    <div *ngFor="let elem of listaGruposYEquipos;let i = index;">
      <ion-row style="height: 5px"></ion-row>
      <ng-container *ngSwitchCase="'Equipos'">
       
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <b>{{elem.Grupo}}</b>
          </mat-expansion-panel-header>
          <mat-accordion #accordion="matAccordion">
          <ion-item *ngFor="let equipo of listaGruposYEquipos[i].Equipo">
          
                <mat-expansion-panel *ngIf = "EsMiEquipo (equipo)" style="width:100%; margin-left: -10%;" (opened)= "TraeAlumnosEquipo(equipo)" >
                  <mat-expansion-panel-header>
                    <ion-item style= "width: 40%">
                      <ion-label>
              
                      <img *ngIf= "equipo.FotoEquipo" [src]="equipo.FotoEquipo" style= "width: 50px; height: 50px">
                      <img *ngIf= "!equipo.FotoEquipo" src="../../assets/img/interrogante.jpg" style= "opacity: 0.5 !important; width: 50px; height: 50px">
                      </ion-label>
                    </ion-item>
                    <ion-item style= "width: 60%">
                      <ion-label>
                      <h2 style = "color: red; ">{{equipo.Nombre}} </h2>
                      </ion-label>
                    </ion-item>
                  </mat-expansion-panel-header>

                  
                  <ion-list>
                    <ion-item *ngFor="let alumno of alumnosEquipo">
                      <ion-label>{{alumno.Nombre}} {{alumno.PrimerApellido}}</ion-label>  
                    </ion-item>
                  </ion-list>
                  <br>

                  <ion-button *ngIf = "EsMiEquipo (equipo)" color="success" (click)="CambiarLogo(equipo);">Pon logo</ion-button>
                  <ion-button *ngIf = "EsMiEquipo (equipo)" color="danger" (click)="QuitarLogo(equipo);">Quita logo</ion-button>
                  <input #file id = "inputLogo" type="file" accept= 'image/*' (change)="SeleccionarLogo($event)" style="display:none">
                </mat-expansion-panel>
       
              <mat-expansion-panel *ngIf = "!EsMiEquipo (equipo)" style="width:100%; margin-left: -10%;"  (opened)= "TraeAlumnosEquipo(equipo)" >
                <mat-expansion-panel-header>
                  <ion-item style= "width: 40%">
                  <ion-label>
                  
                  <img *ngIf= "equipo.FotoEquipo" [src]="equipo.FotoEquipo" style= "width: 50px; height: 50px">
                  <img *ngIf= "!equipo.FotoEquipo" src="../../assets/img/interrogante.jpg" style= "opacity: 0.5 !important;width: 50px; height: 50px">
                  </ion-label>
                  </ion-item>
                  <ion-item style= "width: 60%">
                    <ion-label>
                    <h2>{{equipo.Nombre}} </h2>
                    </ion-label>
                  </ion-item>
                </mat-expansion-panel-header>
                <ion-list>
                  <ion-item *ngFor="let alumno of alumnosEquipo">
                    <ion-label>{{alumno.Nombre}} {{alumno.PrimerApellido}}</ion-label>  
                  </ion-item>
                </ion-list>
              </mat-expansion-panel>
 
          </ion-item>
          </mat-accordion>  
        </mat-expansion-panel>
      
      </ng-container>
    </div>
  

  </div>

</ion-content>