
.separador-grupos {
  font-size: 15px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
}

div[scrollx=true], div[scrolly=true] {
  position: relative;
  overflow: hidden;

  ::-webkit-scrollbar {
    display: none;
  }
}

div[scrollx=true] {
  overflow-x: auto;
}

div[scrolly=true] {
  overflow-y: auto;
}
#myFixZone {
  height: 200px;
}

ion-grid{
  height: 100%;
}
ion-row{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}