<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button class="menu-btn"></ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Grupos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div padding>
    <ion-segment [(ngModel)]="Tipo">
      <ion-segment-button value="Alumnos">
        <ion-icon style="color: rgb(15, 15, 146);" name="person"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="Equipos">
        <ion-icon style="color: rgb(15, 15, 146);" name="people"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="Tipo">

    <div *ngFor="let elem of listaGruposYAlumnos;let i = index">
      <ion-row style="height: 5px"></ion-row>
      <ng-container *ngSwitchCase="'Alumnos'">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <b>{{elem.Grupo}}</b>
          </mat-expansion-panel-header>
          <ion-card *ngFor="let alum of listaGruposYAlumnos[i].Alumnos">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="../../assets/img/usuario.svg">
              </ion-avatar>
              <ion-label>
                <h2> {{alum.Nombre}} {{alum.PrimerApellido}} {{alum.SegundoApellido}} </h2>
                <p>-Frase alumno-</p>
              </ion-label>
            </ion-item>
          </ion-card>
        </mat-expansion-panel>
      </ng-container>
    </div>

    <div *ngFor="let elem of listaGruposYEquipos;let i = index;">
      <ion-row style="height: 5px"></ion-row>
      <ng-container *ngSwitchCase="'Equipos'">
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <b>{{elem.Grupo}}</b>
          </mat-expansion-panel-header>
          <ion-card *ngFor="let equipo of listaGruposYEquipos[i].Equipo">
            <ion-item lines="none">
              <ion-avatar slot="start">
                <img src="../../assets/img/usuario.svg">
              </ion-avatar>
              <ion-label>
                <h2> {{equipo.Nombre}} </h2>
              </ion-label>
            </ion-item>
          </ion-card>
        </mat-expansion-panel>
      </ng-container>
    </div>

  </div>

  <!-- 
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        This is the expansion 1 title
      </mat-expansion-panel-header>
  
      <ion-card>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="../../assets/img/usuario.svg">
          </ion-avatar>
          <ion-label>
            <h2> HOLA </h2>
            <p>-Frase alumno-</p>
          </ion-label>
        </ion-item>
      </ion-card>
  
    </mat-expansion-panel> -->


</ion-content>