<ion-header>
  <ion-toolbar>
    <ion-title style="color: floralwhite;margin-top: 7%; margin-right: 10%;text-align: center;">Mi Perfil</ion-title>
    <img class = "ClasspipCabeceraimg" src="../../assets/icon/classpip1.png">
    <ion-buttons slot="start" style="color: floralwhite;">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-row *ngFor="let Imagen of MiImagenAlumno;let i = index">
            <img [src]="MiImagenAlumno[i]" >
  </ion-row>
  <!--ion-row>
    <ion-button (click)="selectImage()">
      Pick Image to Crop
    </ion-button>
  </ion-row-->
  <button ion-button color="primary" (click)="accessGallery()">Open Gallery</button>
  <img [src]="base64Image" *ngIf="base64Image" /> 
   <p style="text-align: center; color: rgb(0, 68, 107);font-size:5.5vw;"><b>{{Alumno.Nombre}} {{Alumno.PrimerApellido}} {{Alumno.SegundoApellido}}</b> </p>

</ion-content>
