<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Mis Puntos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="puntos-content">

  <div>
    <ion-list class="puntos-list-bg">
      <p>Actualmente dispones de<br>los siguientes puntos:</p>
      <ion-item *ngFor="let punto of MiHistorialPuntos; let i = index">
        <h2>{{punto.Nombre}} :</h2>
        <h2 slot="end"> {{punto.Puntos}} pts.</h2>
      </ion-item>
      <ion-item>
        <h2><b>TOTAL : </b></h2>
        <h2 slot="end"> {{MiAlumnoJDP}} Puntos</h2>
      </ion-item>
    </ion-list>
  </div>

  <h3 tappable (click)="VerRanking()">¿Cómo van mis compañeros?</h3>

  <div class="puntos-info" [ngClass]="{'active': infoView}">

    <div class="toggle-text" tappable (click)="toggleInfoView()">
      <span *ngIf="!infoView">¿Cómo consigo puntos?</span>
      <span *ngIf="infoView">Ocultar información</span>
      <br>
      <ion-icon name="arrow-round-up" *ngIf="!infoView"></ion-icon>
      <ion-icon name="arrow-round-down" *ngIf="infoView"></ion-icon>
    </div>

    <div class="expansion-panel">
      <mat-expansion-panel *ngFor="let punto of MiHistorialPuntos; let i=index">
        <mat-expansion-panel-header>
            <b>{{punto.Nombre}}</b>
        </mat-expansion-panel-header>
        <p> {{TodosLosPuntos[i].Descripcion}} </p>
      </mat-expansion-panel>
    </div>
  </div>

</ion-content>