.fondoDegradado{
    background-color: linear-gradient(to bottom, color(rgb(34, 130, 226)) 0%, color(#f5f6f9) 100%);;
  }

  .MyAppCabecera{
    color: #e71a1a;
    background-color: rgb(34, 130, 226);
    // display: inline-flex;
    width: 100%;
    text-align: center;
  }