ion-toolbar {
  --ion-background-color:rgb(0, 68, 107);
}
.ClasspipCabeceraimg{
  position:relative;
  width:30px;
  height:30px;
  margin-left: 23%;
  margin-right: -20%;
  margin-top: -10%;
  margin-bottom: 3%;
}

.item{
  color: rgb(0, 68, 107);
  font-size:5.5vw;
}

.icon{
  color: rgb(0, 68, 107);
  width:25px;
  height:25px;
}

.flecha{
  color: darken($color: #000000, $amount: 0);;
}