<ion-app>
  <ion-menu side="start" menuId="first" contentId="content1">
    <ion-content class="sidemenu-content">

      <div class="user-image">
        <div class="border">
          <div class="img-box">
            <img *ngIf = "MiAlumno !== undefined" [src]="MiAlumno.ImagenPerfil">
          </div>
        </div>
      </div>
      <p *ngIf = "MiAlumno !== undefined"> {{MiAlumno.Nombre}} {{MiAlumno.PrimerApellido}} <br> {{MiAlumno.SegundoApellido}} </p>
      <ion-row style="height: 20px"></ion-row>

      <ion-menu-toggle auto-hide="true">

        <ion-item lines="none" class="sidemenu-items" (click)="GoMisJuegosActivos();" routerDirection="forward">
          <ion-icon class = "verde" name="logo-game-controller-b" slot="start"></ion-icon>
          Mis Juegos Activos
        </ion-item>

        
        <ion-item lines="none" class="sidemenu-items" (click)="GoMisJuegosInactivos();" routerDirection="forward">
          <ion-icon class = "negro" name="logo-game-controller-b" slot="start"></ion-icon>
          Mis Juegos Inactivos
        </ion-item>
        
        <ion-item lines="none" class="sidemenu-items" (click)="GoMisGrupos();" routerDirection="forward">
          <ion-icon name="people" slot="start"></ion-icon>
          Mis Grupos
        </ion-item>

        <ion-item lines="none" class="sidemenu-items" (click)="GoMiPerfil();" routerDirection="forward">
          <ion-icon name="person" slot="start"></ion-icon>
          Mi Perfil
        </ion-item>

        <ion-item lines="none" class="sidemenu-items" (click)="GoOut();" routerDirection="forward">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Cerrar Sesión
        </ion-item>

      </ion-menu-toggle>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1"></ion-router-outlet>
</ion-app>