
.selectcromo {
    color: rgb(0, 68, 107);
    height: 40px;
    max-height: 40px;
    width: 140px;
    max-width: 140px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 6px 9px 0px rgb(0, 68, 107);
}

.selectcomp {
    color: rgba(223, 44, 44, 0.966);
    height: 40px;
    max-height: 40px;
    width: 140px;
    max-width: 140px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 6px 9px 0px rgba(223, 44, 44, 0.966);
}
