<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar Cromos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="intercambiarcromos-content">

  <img class="logo-liga" src="../../assets/img/intercambio.svg" width="100px">
  
  <br>
  <p class="InformacionPantalla">¿A quién quieres regalarle el cromo?</p>
  <br>
  <!--Se define la estética del cromo según el nivel del propio cromo-->
  <ion-item *ngIf="cromo">
    <ion-card name="cromo">
      <img [src]="imagenCromo">
    </ion-card>

  </ion-item>

  <select class="selectcomp" [(ngModel)]=alumnoSeleccionado (ngModelChange)="onChange($event)" name="alumno">
    <option *ngFor="let alumno of alumnosJuegoDeColeccion">
      {{alumno.Nombre}} {{alumno.PrimerApellido}} {{alumno.SegundoApellido}}
    </option>
  </select>

  <ion-button (click)=AsignarCromo() class="intercambiar-btn" shape="round">
    Intercambiar Cromos
    <ion-icon style="color:  rgb(255, 255, 255);" name="albums" item-left></ion-icon>
  </ion-button>

</ion-content>