<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Avatares</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="juegoavatar-content">

  <div *ngIf="tieneAvatar" style="display: flex; width: 300px; height: 324px; margin: auto; margin-top: 20%; margin-bottom: 30%;">
    <img  [src]="imagenesAvatares + inscripcionAlumnoJuegoAvatar.Silueta" style="width: 300px; height: 324px; position: relative; z-index: 0;">
    <img  *ngIf = "inscripcionAlumnoJuegoAvatar.Complemento1" [src]="imagenesAvatares + inscripcionAlumnoJuegoAvatar.Complemento1" style="width: 300px; height: 324px; position: absolute; z-index: 1;">
    <img  *ngIf = "inscripcionAlumnoJuegoAvatar.Complemento2" [src]="imagenesAvatares + inscripcionAlumnoJuegoAvatar.Complemento2" style="width: 300px; height: 324px;position: absolute; z-index: 2;">
    <img  *ngIf = "inscripcionAlumnoJuegoAvatar.Complemento3" [src]="imagenesAvatares + inscripcionAlumnoJuegoAvatar.Complemento3" style="width: 300px; height: 324px;position: absolute; z-index: 3;">
    <img  *ngIf = "inscripcionAlumnoJuegoAvatar.Complemento4" [src]="imagenesAvatares + inscripcionAlumnoJuegoAvatar.Complemento4" style="width: 300px; height: 324px;position: absolute; z-index: 4;">
  </div> 
<!-- 
    <div *ngIf="tieneAvatar" id="imagenAvatar" style="display: flex; width: 300px; height: 324px; margin: auto; margin-top: 20%; margin-bottom: 30%;">
      <img #img id="silueta" [src]="imagenSilueta" style="position: relative; z-index: 0;">
    </div>  -->
 
    <div *ngIf="!tieneAvatar" style = "height:20%">
      <h1>No has elegido avatar todavia</h1>
    </div>
  <div>
    <mat-expansion-panel class="privilegios-btn">
      <mat-expansion-panel-header class="cabecera-privilegios">
        <h2> Ver mis privilegios </h2>
      </mat-expansion-panel-header>
      <div *ngFor="let elem of criterios; let i = index">
        <ion-card *ngIf="inscripcionAlumnoJuegoAvatar.Privilegios[i] === true">
          <ion-item lines="none" class="privilegio-activo">
            <img class="icono-privilegio"  src="../../assets/img/check.svg">
            <ion-label>
              <h2> <b> {{elem.nombre}} </b></h2>
              <p>{{elem.criterio}}</p>
            </ion-label>
          </ion-item>
        </ion-card>
        <!-- si no tiene el privilegio -->
        <ion-card *ngIf="inscripcionAlumnoJuegoAvatar.Privilegios[i] === false">
          <ion-item lines="none" class="privilegio-inactivo">
            <img class="icono-privilegio" src="../../assets/img/timer.svg">
            <ion-label>
              <h2> <b> {{elem.nombre}} </b></h2>
              <p>{{elem.criterio}}</p>
            </ion-label>
          </ion-item>
        </ion-card>
      </div>

    </mat-expansion-panel>
  </div>
  <ion-button class="ranking-btn" (click)="AbreEditorAvatar();">Editar o crear avatar</ion-button>
  <div *ngIf = "inscripcionAlumnoJuegoAvatar">
    <ion-button disabled= "{{!inscripcionAlumnoJuegoAvatar.Privilegios[4]}}" color="success" (click)="VerAvatares();">Ver avatares del grupo</ion-button>
  </div>
</ion-content>