<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Evaluar a ...</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <h1>Título Rúbrica</h1>
    </ion-list-header>
    <ion-item>
      <h2>Elemento 1 (80%)</h2>
    </ion-item>
    <ion-item>
      Criterio 1 (50%)
      <ion-input slot="end" type="number" value="5" min="0" max="10"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>CRITERIO 2 (50%)</ion-label>
      <ion-input slot="end" type="number" value="5" min="0" max="10"></ion-input>
    </ion-item>
    <ion-item>
      <h2>Elemento 2 (20%)</h2>
    </ion-item>
    <ion-item>
      Criterio 1 (50%)
      <ion-input slot="end" type="number" value="5" min="0" max="10"></ion-input>
    </ion-item>
    <ion-item>
      Criterio 2 (50%)
      <ion-input slot="end" type="number" value="5" min="0" max="10"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
