<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="success" fill="solid" expand="block">
        <ion-text>Enviar</ion-text>
        <ion-icon name="send"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Evaluar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item *ngIf="juego.Modo === 'Individual'">
      <ion-avatar slot="start">
        <img src="{{DameImagenEvaluado()}}" alt="profile">
      </ion-avatar>
      <ion-label>
        <h2>{{DameNombreEvaluado()}}</h2>
        <h3>{{juego.NombreJuego}}</h3>
      </ion-label>
      <ion-icon slot="end" name="arrow-dropright"></ion-icon>
    </ion-item>
  </ion-card>
  <ion-card *ngIf="rubrica">
    <ion-list lines="none">
      <ion-list-header>
        <h1>{{rubrica.Nombre}}</h1>
      </ion-list-header>
      <div *ngFor="let criterio of rubrica.Criterios; let i = index">
        <ion-item *ngIf="juego.metodoSubcriterios">
          <h2>{{criterio.Nombre}} ({{juego.Pesos[i][0]}}%)</h2>
        </ion-item>
        <ion-item *ngIf="!juego.metodoSubcriterios">
          <h2>{{criterio.Nombre}}</h2>
        </ion-item>
        <ion-item *ngFor="let elemento of criterio.Elementos; let j = index">
          <ion-grid>
            <ion-row>
              <ion-col size="10">
                <div *ngIf="juego.metodoSubcriterios">
                  <ion-text>{{elemento}} ({{juego.Pesos[i][j+1]}}%)</ion-text>
                </div>
                <div *ngIf="!juego.metodoSubcriterios">
                  <ion-text>{{elemento}}</ion-text>
                </div>
              </ion-col>
              <ion-col size="2">
                <div *ngIf="juego.metodoSubcriterios">
                  <ion-input slot="end" type="number" placeholder="Nota" min="0" max="10"></ion-input>
                </div>
                <div *ngIf="!juego.metodoSubcriterios">
                  <ion-checkbox color="tertiary"></ion-checkbox>
                </div>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>
    </ion-list>
  </ion-card>
</ion-content>
