<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="!empezado" class="menu-btn"></ion-back-button>
      <ion-button *ngIf = "empezado" style ="font-size: 17.5px;" (click)="popup()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{juegoSeleccionado.NombreJuego}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "juegoSeleccionado.JuegoActivo">
    <mat-horizontal-stepper #stepper style="width:100%;" *ngIf="NotaInicial === '0'">

      <!-- PRIMER PASO -->
      <mat-step>
        <p style="margin-top: 250px; text-align: justify;">¿Estas seguro de que deseas empezar el cuestionario? Si es que sí, presiona en "Empezar"</p>
        <div style="margin-top: auto;">
          <button (click) = "empezamos()" class = "button-empezar" matStepperNext>Empezar</button>
        </div>

      </mat-step>

      <!-- SEGUNDO PASO -->
      <mat-step>
        <div style="margin-top: 200px;">
          <p><b>Descripcion: </b>{{descripcion}}</p>
          <p><b>Puntuación por respuesta correcta: </b>{{puntuacionCorrecta}}</p>
          <p><b>Penalización por respuesta incorrecta: </b>{{puntuacionIncorrecta}}</p>
          <button class = "siguiente" matStepperNext><i class="material-icons">arrow_forward_ios</i></button>
        </div>
      </mat-step>

      <!-- RESPONDEMOS A PREGUNTAS -->
      <mat-step *ngFor="let pregunta of PreguntasCuestionario; let i = index">
        <p style="font-size: 18px;">{{pregunta.Pregunta}}</p>
        <div>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group" [(ngModel)]="RespuestaEscogida">
              <mat-radio-button class="radio-button" *ngFor="let respuesta of respuestasPosibles" [value]="respuesta">
                <p style="color: black;">{{respuesta}}</p>
              </mat-radio-button>
          </mat-radio-group>
        </div>
        <button *ngIf = "i !== 0" class = "anterior" (click) = "cambioRespuestasAnterior(i)" mat-button matStepperPrevious><i class="material-icons">arrow_back_ios</i></button>
        <button ion-button class = "siguiente" (click) = "cambioRespuestasSiguiente(i)" mat-button matStepperNext><i class="material-icons">arrow_forward_ios</i></button>
      </mat-step>

      <!-- FINALIZACION DEL CUESTIONARIO -->
      <mat-step>
        <div style="margin-top: 200px;">
          <p>Cuestionario realizado correctamente.</p>
          <p> Haga click en "Finalizar" para guardar los cambios.</p>
        </div>
        <div class="btnCambiarStep">
          <button class = "anterior" mat-raised-button style="margin: 5px" matStepperPrevious><i class="material-icons">arrow_back_ios</i></button>
          <button (click) = "ponerNota()" class = "button-empezar" mat-raised-button matStepperNext > Finalizar</button>
        </div>
      </mat-step>

      <!-- VEMOS LA NOTA OBTENIDA DEL CUESTIONARIO -->
      <mat-step >
        <p style="font-size: 25px;">NOTA: <b>{{Nota}}</b></p>
        <p style="margin-top: -30px;">(Nota sobre {{puntuacionMaxima}})</p>
        <div>
          <p>Feedback de las respuestas:</p>
        </div>
        <div *ngFor="let feedback of feedbacks, let i = index">
          <p><b>{{i+1}}. </b>{{feedback}}</p>
        </div>
        <!-- <div>
          <mat-radio-group aria-labelledby="example-radio-group-label" class="radio-group" [(ngModel)]="RespuestaEscogida">
              <mat-radio-button class="radio-button" *ngFor="let feedback of feedbacks, let i = index" [value]="feedback" disabled> 
                <p  style="color: black;">{{i+1}}. {{feedback}}</p>
              </mat-radio-button>
          </mat-radio-group>
        </div> -->
        <button (click) = "GoMisJuegos()" class = "button-empezar">Cerrar</button>
      </mat-step>
    </mat-horizontal-stepper>

    <mat-horizontal-stepper #stepper style="width:100%;" *ngIf="NotaInicial !== '0'">
      <mat-step>
        <div style="margin-top: 250px; text-align: justify;">
          <p style="font-size: 18px;">Ya has realizado este examen previamente. Y la puntuacion obtenida es de: <b>{{NotaInicial}}</b></p>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
</ion-content>

<ion-content *ngIf = "!juegoSeleccionado.JuegoActivo" class="juegoseleccionado-content"  [scrollEvents]="true">
  <div>
    <p>Las notas del juego de cuestionario son: </p>
  </div>
  <!--Para el caso de un juego de Cuestionario-->
  <div>
    <ion-grid>
      <!--Se define la cabecera de la tabla del ranking del juego de Puntos-->
      <ion-row class="cabecera-tabla">
        <ion-col col-1 style="margin-left: -10%">
          <p><b>Nombre</b></p>
        </ion-col>
        <ion-col col-2 style="margin-left: -7%">
          <p><b>Apellido</b></p>
        </ion-col>
        <ion-col col-3 style="margin-right: -3%">
          <p><b>Nota</b></p>
        </ion-col>
      </ion-row>

      <!--Se define el contenido de la tabla , es decir los nombbres y los puntos-->
      <ion-row class="casillas-tabla" *ngFor="let item of MisAlumnosDelJuegoDeCuestionario">
        <ion-col col-1>
          <p><b>{{item.Nombre}}</b></p>
        </ion-col>
        <ion-col col-2>
          <p><b>{{item.PrimerApellido}}</b></p>
        </ion-col>
        <ion-col col-3 style="margin-left:5%">
          <p><b>{{item.Nota}}</b></p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
