:host ::ng-deep .mat-horizontal-stepper-header-container{
    display: none;
}
.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
  
.radio-button {
    margin: 5px;
    color: black;
}

.button-empezar {
    background-color: rgb(7, 214, 93);
    color: white;
    font-size: 18px;
    padding: 20px;
    border-radius: 20px;
    /* Si no funciona al desplegar en el movil, lo hacemos asi
    margin-top: 300px; */
    /* position: absolute;
    bottom: 35px;
    right: 25px; */
    margin-top: 175px; 
}

ion-slide {
    height: 600px;
    width:100px;
}
  
// esto es para que me ponga cada slide arriba
ion-slide.swiper-slide {
    align-items: flex-start;
}

// Esto es para que haga scroll vertical cuando no cabe la información
// en el slide

.swiper-slide {
    overflow-y: scroll;    
    display: block;    
}
ion-reorder{
    position: absolute;
    width: 100%;
    max-width: 100%;
    opacity: 0;
}


.enviarRespuestaKahoot {
    background-color: rgb(11, 72, 100);
    color: white;
    font-size: 14px;
    padding: 10px;
    border-radius: 50px;
    position: absolute;
    left: 100px; 
    width: 200px;
    bottom: 10px;
  }
  
  .enFila{

    border: 10px solid transparent;
  
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    width: 100%;
  }
  .enColumna{
    display: flex;
    display: -webkit-flex;
    display: -ms-flexbox;
  
    justify-content: left ;
    flex-direction: column;
    // align-items: flex-start;
    border: solid transparent;
    align-items: center;
    width: 100%;
  }

  .opcion {
   
    width: 150px; 
    height: 20px;
    line-height: 20px;
    padding: 10%;
    border-radius: 20px;
    display: table;
  }

  
  .opcion p{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
 


  .rojo {
    background-color: red; 
    color:white; 
  }
  .verde {
    background-color: green; 
    color:white; 
  }
  .amarillo {
    background-color: yellow; 
  }
  .azul {
    background-color: blue; 
    color:white; 
  }
