<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Resumen
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf = "juego.ModoVistaEvaluado === 'soloGlobal'">
  <ion-card>
    <ion-item *ngIf = "evaluacionesPendientes === 0" color="primary">
      <strong>Nota Final {{notaFinal}}</strong>
    </ion-item>
    <ion-item *ngIf = "evaluacionesPendientes > 0" color="secondary">
      <strong>Nota provisional: {{notaFinal}}<br>
      Evaluaciones pendientes: {{evaluacionesPendientes}} de {{evaluacionesARecibir}}</strong>
    </ion-item>
    <ion-item *ngIf = "juego.ModoVistaEvaluado === 'todo'">
      <br>
      <strong style="color: rgb(104, 3, 3); text-align: center;">Desliza para ver cada una de las evaluaciones recibidas</strong> 
    </ion-item>
  </ion-card>

  <ion-slides>
   
      <ion-slide>
        <div class = "enColumna">
          <ion-card *ngIf="rubrica">
            <ion-list>
              <ion-list-header>
                <h1>{{rubrica.Nombre}}</h1>
              </ion-list-header>
              <div *ngFor="let criterio of rubrica.Criterios; let i = index">
                <ion-item>
                  <h2>{{criterio.Nombre}}</h2>
                  <ion-badge slot="end" color="primary">Nota: {{CalcularNotaCriterio(i)}}</ion-badge>
                </ion-item>
                <ion-item *ngFor="let elemento of criterio.Elementos; let j = index">
                  <ion-badge color="secondary" slot="start">{{ContarPuntuacion(i, j)}}</ion-badge>
                  <ion-text>{{elemento}}</ion-text>
                </ion-item>
              </div>
            </ion-list>
          </ion-card>
    
          <ion-card>
            <ion-card-header>
              <ion-card-title>Observaciones:</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let respuesta of respuestas | filtrarComentariosVacios; let n = index">
                  {{respuesta.respuesta[respuesta.respuesta.length - 1]}}
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>
  </ion-slides>
 
</ion-content>

<ion-content *ngIf = "juego.ModoVistaEvaluado === 'todo'">
  <ion-card>
    <ion-item *ngIf = "evaluacionesPendientes === 0" color="primary">
      <strong>Nota Final {{notaFinal}}</strong>
    </ion-item>
    <ion-item *ngIf = "evaluacionesPendientes > 0" color="secondary">
      <strong>Nota provisional: {{notaFinal}}<br>
      Evaluaciones pendientes: {{evaluacionesPendientes}} de {{evaluacionesARecibir}}</strong>
    </ion-item>
    <ion-item *ngIf = "juego.ModoVistaEvaluado === 'todo'">
      <br>
      <strong style="color: rgb(104, 3, 3); text-align: center;">Desliza para ver cada una de las evaluaciones recibidas</strong> 
    </ion-item>
  </ion-card>

  <ion-slides>
   
      <ion-slide>
        <div class = "enColumna">
          <ion-card *ngIf="rubrica">
            <ion-list>
              <ion-list-header>
                <h1>{{rubrica.Nombre}}</h1>
              </ion-list-header>
              <div *ngFor="let criterio of rubrica.Criterios; let i = index">
                <ion-item>
                  <h2>{{criterio.Nombre}}</h2>
                  <ion-badge slot="end" color="primary">Nota: {{CalcularNotaCriterio(i)}}</ion-badge>
                </ion-item>
                <ion-item *ngFor="let elemento of criterio.Elementos; let j = index">
                  <ion-badge color="secondary" slot="start">{{ContarPuntuacion(i, j)}}</ion-badge>
                  <ion-text>{{elemento}}</ion-text>
                </ion-item>
              </div>
            </ion-list>
          </ion-card>
    
          <ion-card>
            <ion-card-header>
              <ion-card-title>Observaciones:</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-list>
                <ion-item *ngFor="let respuesta of respuestas | filtrarComentariosVacios; let n = index">
                  {{respuesta.respuesta[respuesta.respuesta.length - 1]}}
                </ion-item>
              </ion-list>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-slide>
      
      <ion-slide *ngFor="let respuesta of respuestas; let i = index">
          <div *ngIf = "respuesta.alumnoId" class = "enColumna">
          
          
            <div class = "enColumna" *ngIf = "!EsAutoevaluacion (respuesta.alumnoId)">
              <span style = "font-size: small;text-align: center;">Evaluación realizada por: </span><br>
              <img *ngIf = "juego.Modo === 'Individual' || evaluacionIndividual" src="{{DameUrlImagenPerfil(respuesta.alumnoId)}}" style = "width: 50px;height: 50px;"><br>
              <strong *ngIf = "juego.Modo === 'Individual' || evaluacionIndividual" style = "color:rgb(7, 82, 7); text-align: center;">{{DameNombreAlumno(respuesta.alumnoId)}}</strong>
              <img *ngIf = "juego.Modo === 'Equipos' && !evaluacionIndividual" src="{{DameUrlImagenPerfilEquipo(respuesta.alumnoId)}}" style = "width: 50px;height: 50px;"><br>
              <strong  *ngIf = "juego.Modo === 'Equipos' && !evaluacionIndividual" style = "color:rgb(7, 82, 7); text-align: center;">{{DameNombreEquipo(respuesta.alumnoId)}}</strong>
            </div>
            <span *ngIf = "EsAutoevaluacion (respuesta.alumnoId)">
              <strong style = "color:rgb(7, 82, 7);text-align: center;">Autoevaluacion</strong>
            </span>

            <ion-card *ngIf="rubrica">
              <ion-list>
                <ion-list-header>
                  <h1>{{rubrica.Nombre}}</h1>
                </ion-list-header>
                <div *ngFor="let criterio of rubrica.Criterios; let j = index">
                  <ion-item>
                    <h2>{{criterio.Nombre}}</h2>
                    <ion-badge slot="end" color="primary">Nota: {{CalcularNotaCriterioIndividual(i,j)}}</ion-badge>
                  </ion-item>
                  <ion-item *ngFor="let elemento of criterio.Elementos; let k = index">
                    <ion-badge color="secondary" slot="start">{{ContarPuntuacionIndividual(i, j, k)}}</ion-badge>
                    <ion-text>{{elemento}}</ion-text>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Observaciones:</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item>
                    {{respuesta.respuesta[respuesta.respuesta.length - 1]}}
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          
          
          </div>
          <div *ngIf = "respuesta.profesorId" class = "enColumna">
            <div class = "enColumna">
              <span style = "font-size: small;text-align: center;">Evaluación realizada por: </span><br>
              <strong style = "color:rgb(7, 82, 7); text-align: center;">el profesor</strong>
            
            </div>
            <ion-card *ngIf="rubrica">
              <ion-list>
                <ion-list-header>
                  <h1>{{rubrica.Nombre}}</h1>
                </ion-list-header>
                <div *ngFor="let criterio of rubrica.Criterios; let j = index">
                  <ion-item>
                    <h2>{{criterio.Nombre}}</h2>
                    <ion-badge slot="end" color="primary">Nota: {{CalcularNotaCriterioIndividual(i,j)}}</ion-badge>
                  </ion-item>
                  <ion-item *ngFor="let elemento of criterio.Elementos; let k = index">
                    <ion-badge color="secondary" slot="start">{{ContarPuntuacionIndividual(i, j, k)}}</ion-badge>
                    <ion-text>{{elemento}}</ion-text>
                  </ion-item>
                </div>
              </ion-list>
            </ion-card>
            <ion-card>
              <ion-card-header>
                <ion-card-title>Observaciones:</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <ion-list>
                  <ion-item>
                    {{respuesta.respuesta[respuesta.respuesta.length - 1]}}
                  </ion-item>
                </ion-list>
              </ion-card-content>
            </ion-card>
          </div>
      </ion-slide>
  </ion-slides>
 
</ion-content>

