<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Competición Torneo</ion-title>
  </ion-toolbar>
</ion-header>
<!-- <ion-content class="juegocomptorneo-content" #content> -->
<ion-content  #content>
  <!-- <img class="logo-liga" style="position: relative; left: 93px;" src="../../assets/img/torneoicon.webp" width="100px"> -->
  
  <!-- ////////////////////////////////////// CUADRO TORNEO ////////////////////////////////////////////////////-->
  <div>
  <br>
  <div class = "enColumna">
  <b><div  class="subtitulo"style="font-size: 120%; color: black;">Enfrentamientos Torneo</div></b>
  <br>
  <div  class="subtitulo"style="font-size: 100%; color: black;">Desliza para ver las diferentes fases del torneo</div>
  <br>
  </div>
  
    <ion-slides [options]="sliderConfig">
      <ion-slide *ngFor="let participantes of enfrentamientosDelJuego; let i=index">
        <div>
          <div *ngIf="enfrentamientosDelJuego.length - i  == 1" >
            <div  class="subtitulo" style="font-size: 120%; color: red;">Gran Final</div>
          </div>
          <div *ngIf="enfrentamientosDelJuego.length - i  == 2" >
            <div  class="subtitulo" style="font-size: 120%; color: red;">Semifinales</div>
          </div>
          <div *ngIf="enfrentamientosDelJuego.length - i == 3" >
            <div  class="subtitulo" style="font-size: 120%; color: red;">Cuartos de Final</div>
          </div>
          <div *ngIf="enfrentamientosDelJuego.length - i  == 4" >
            <div  class="subtitulo" style="font-size: 120%; color: red;">Octavos de Final</div>
          </div>
          <div *ngIf="enfrentamientosDelJuego.length - i  == 5" >
            <div  class="subtitulo" style="font-size: 120%; color: red;">Dieciseisavos de Final</div>
          </div>
          <div *ngIf="enfrentamientosDelJuego.length - i  == 6" >
            <div  class="subtitulo" style="font-size: 120%; color: red;">Treintaidosavos de Final</div>
          </div>
           <div *ngIf="participantes.length == 0" >
            <div  class="subtitulo" style="font-size: 80%; color: red;">Aun por definir</div>
          </div>
      

          <br>

          <!-- <ion-card class="enfrentamiento-card-mialumno" style="color: black;" *ngFor="let participante of participantes; let i=index"> -->
          <div  *ngFor="let participante of participantes; let i=index">
            <ion-card *ngIf = "EsEmparejamientoPar(i)" class = "card-par">
      
            <b style="font-size: large;">{{participante.nombreJugadorUno}}</b> contra <b style="font-size: large;">{{participante.nombreJugadorDos}}</b><br>
            
            <b style= "color:green">Ganador: </b> 
            <b *ngIf = "participante.nombreGanador" style = "font-size: x-large">{{participante.nombreGanador}} </b>
            <b *ngIf = "!participante.nombreGanador" style = "font-size: x-large">Pendiente </b>

            </ion-card>
            <ion-card *ngIf = "!EsEmparejamientoPar(i)" class = "card-impar">
      
              <b style="font-size: large;">{{participante.nombreJugadorUno}}</b> contra <b style="font-size: large;">{{participante.nombreJugadorDos}}</b><br>
              
              <b style= "color:green">Ganador: </b> 
              <b *ngIf = "participante.nombreGanador" style = "font-size: x-large">{{participante.nombreGanador}} </b>
              <b *ngIf = "!participante.nombreGanador" style = "font-size: x-large">Pendiente </b>
  
              </ion-card>
          </div>

        </div>
      </ion-slide>
    </ion-slides>
  </div>
    <!-- <ion-button class="ranking-btn" (click)="InformacionJornadas();"style="position: relative; left: 93px;">Jornadas</ion-button> -->
</ion-content>