<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Colecciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="juegocoleccion-content" #content>

<div *ngIf="juegoSeleccionado.Modo === 'Individual' && coleccion !== undefined">
  <div *ngIf="alumno !== undefined">
     
    <ion-button class="card-btn" style="color: grey;" (click)=MostrarAlbum()>Ver album</ion-button>
    <div  *ngIf = "coleccion.DosCaras"  >
      
      <ion-slides>
        <!-- Prinero muestro los cromos que tiene el alumno -->
        <!-- Si hace click es que quiere regalar el cromo -->
        <!-- <ion-slide (click) = "RegalarCromo(elem, i)" *ngFor="let elem of cromosSinRepetidos;let i = index"> -->
          <ion-slide  (click) = "RegalarCromo(elem, i)"  *ngFor="let elem of cromosSinRepetidos;let i = index">  
            <div class="flip-box">
              <div class="flip-box-inner">
                <div class="flip-box-front">
                  <img class = "cromoTengo" [src]="cromosQueTengoImagenDelante[i]"  >
                </div>
                <div class="flip-box-back">
                  <img  class = "cromoTengo" [src]="cromosQueTengoImagenDetras[i]" >
                </div>
              </div>
            </div>
            
         
        </ion-slide>
      
        <!-- y ahora los que no tiene todavia -->
        <ion-slide *ngFor="let elem of cromosQueNoTengo;let i = index">
          <div class="flip-box">
            <div class="flip-box-inner">
              <div class="flip-box-front">
                <img class = "cromoNoTengo" [src]="cromosQueNoTengoImagenDelante[i]" >
              </div>
              <div class="flip-box-back">
                <!-- Mostrará la cara de delante pero al revés -->
              </div>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>

    <div  *ngIf = "!coleccion.DosCaras"  >
    
      <ion-slides>
        <!-- Prinero muestro los cromos que tiene el alumno -->
        <ion-slide *ngFor="let elem of cromosSinRepetidos;let i = index">
          <img [src]="cromosQueTengoImagenDelante[i]" style = "width:468px; height:675px; padding-right: 20px;">
        </ion-slide>
      
        <!-- y ahora los que no tiene todavia -->
        <ion-slide *ngFor="let elem of cromosQueNoTengo;let i = index">
          <img [src]="cromosQueNoTengoImagenDelante[i]" style = "opacity: 0.5 !important; width:468px; height:675px; padding-right: 20px;">
        </ion-slide>
      </ion-slides>
    </div>


  </div>
</div>
</ion-content>