<ion-header>
  <ion-toolbar>
    <ion-title>JuegoSeleccionado</ion-title>
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
  </ion-toolbar>
  <!-- ion-navbar color="azulcabecera">
    <ion-title >MI JUEGO</ion-title>
  </ion-navbar-->
</ion-header>

<ion-content class="fondoDegradado">
  <!--CONTENIDO DE CONTENEDOR DONDE EXPLICAMOS INFORMACIÓN DE LA PANTALLA-->
    <ion-row>
        <ion-col col-12>
            <!--Al poner <b> permitimos que las palabras que esten dentro se visualicen en negrita-->
            <p id="p">Se ha seleccionado un <b>{{juegoSeleccionado.Tipo}}</b> de tipo <b>{{juegoSeleccionado.Modo}}</b>. </p>
        </ion-col>
    </ion-row>

   <!--SE HACE DISTINCIÓN ENTRE TIPO DE JUEGO DE PUNTOS Y DE COLECCIONES-->

  <!--Para el caso de un juego de Puntos-->
 <div *ngIf= "juegoSeleccionado.Tipo === 'Juego De Puntos'">
    <div *ngIf="juegoSeleccionado.Modo === 'Individual'">

      <ion-grid>
        <ion-row>
          <ion-col col-6 >
              <ion-item class="Informacion"> Información
                  <ion-icon style="margin-right: 2%;" name="information" item-left ></ion-icon>
              </ion-item>
          </ion-col>

          <ion-col col-6>
              <ion-item class="MisPuntos" (click) = VerMisPuntos();>Mis Puntos
                  <ion-icon style=" margin-right: 2%;" name="more" item-left ></ion-icon>
            </ion-item>
          </ion-col>

      </ion-row>
        <!--Se define la cabecera de la tabla que recoge los alumnos del juego-->
        <ion-row>
          <ion-col col-1 style="margin-left:2%">
            <p ><b>Nombre</b></p>
          </ion-col>
          <ion-col col-2 style="margin-left: 3%">
            <p ><b>Apellido</b></p>
          </ion-col>
          <ion-col col-3 style="margin-left:-5%">
            <p><b>Puntos</b></p>
          </ion-col>
        </ion-row>

        <!--Se define el contenido de la tabla que recoge los alumnos del juego-->
        <ion-row *ngFor="let item of MisAlumnosAMostrar">
          <ion-col col-1>
            <p >{{item.Nombre}}</p>
          </ion-col>
          <ion-col col-2 style="margin-left: 3%">
            <p >{{item.PrimerApellido}} {{item.SegundoApellido}}</p>
          </ion-col>
          <ion-col col-3 style="margin-left:-8%">
            <p>{{item.PuntosTotalesAlumno}}</p>
          </ion-col>
       </ion-row>

      </ion-grid>
    </div>
    <div *ngIf="juegoSeleccionado.Modo !== 'Individual'">

      <ion-grid>
        <ion-row>
          <ion-col col-6 >
              <ion-item class="Informacion"> Información
                  <ion-icon style="margin-right: 2%;" name="information" item-left ></ion-icon>
              </ion-item>
          </ion-col>

          <ion-col col-6>
              <ion-item class="MisPuntos" (click) = VerPuntosMiEquipo();>Nuestros Puntos
                  <ion-icon style=" margin-right: 2%;" name="more" item-left ></ion-icon>
            </ion-item>
          </ion-col>

      </ion-row>
        <!--Se define la cabecera de la tabla que recoge los alumnos del juego-->
        <ion-row>
          <ion-col col-1 style="margin-left:2%">
            <p ><b>Equipo</b></p>
          </ion-col>
          <ion-col col-2 style="margin-left: 6%">
            <p ><b>Puntos</b></p>
          </ion-col>
        </ion-row>

        <!--Se define el contenido de la tabla que recoge los alumnos del juego-->
        <ion-row *ngFor="let item of MisEquiposJuegoPuntosAMostrar">
          <ion-col col-1 style="margin-left:2%">
            <p >{{item.Nombre}}</p>
          </ion-col>
          <ion-col col-2 style="margin-left: 6%">
            <p >{{item.PuntosTotalesEquipo}}</p>
          </ion-col>
       </ion-row>

      </ion-grid>
    </div>
  </div>

  <div *ngIf= "juegoSeleccionado.Tipo === 'Juego De Colección'">
    <!--Para el caso de Juego Individual-->
    <div *ngIf="juegoSeleccionado.Modo === 'Individual'">
    <!--Mediante el ion-searchbar permitimos filtrar los alumnos y buscar el deseado-->
    <ion-item class="IntercambiarCromo" style = "text-align: center" (click) = IrIntercambiarCromos();>Intercambiar Cromos
      <ion-icon name="albums" item-left ></ion-icon>
    </ion-item>
      <ion-grid>
          <!--Se define la cabecera de la tabla que recoge los alumnos del juego-->
        <ion-row>
          <ion-col col-3 style="margin-left:1%">
            <p >Nombre</p>
          </ion-col>
          <ion-col col-6 style="margin-left:1%" >
            <p >Apellidos</p>
          </ion-col>
          <ion-col col-3 style="margin-left:-7%">
            <p>Álbum</p>
          </ion-col>
        </ion-row>

          <!--Se define el contenido de la tabla que recoge los alumnos del juego-->
        <ion-row *ngFor="let item of MisAlumnosJuegoColeccion">
          <ion-col col-3 style="margin-left:1%">
            <p >{{item.Nombre}}</p>
          </ion-col>
          <ion-col col-7 style="margin-left: 3%">
            <p >{{item.PrimerApellido}} {{item.SegundoApellido}}</p>
          </ion-col>
          <ion-col col-2 style="margin-top:6%;margin-left: -4%">
            <ion-icon color="primary" name="albums" (click)="VerCromosAlumno(item);"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="juegoSeleccionado.Modo !== 'Individual'">
      <!--Mediante el ion-searchbar permitimos filtrar los alumnos y buscar el deseado-->
        <ion-grid>
            <!--Se define la cabecera de la tabla que recoge los alumnos del juego-->
            <ion-row>
              <ion-col col-1 style="margin-left:2%">
                <p ><b>Equipo</b></p>
              </ion-col>
              <ion-col col-2 style="margin-left: 6%">
                <p ><b>Álbum</b></p>
              </ion-col>
            </ion-row>
  
            <!--Se define el contenido de la tabla que recoge los alumnos del juego-->
          <ion-row *ngFor="let item of MisEquiposJuegoColecciones">
            <ion-col col-1 style="margin-left:2%">
              <p >{{item.Nombre}}</p>
            </ion-col>
            <ion-col col-2 style="margin-top:6%;margin-left: 6%">
              <ion-icon color="primary" name="albums" (click)="VerCromosEquipo(item);"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
  </div>


</ion-content>
