<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Puntos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="juegoseleccionado-content" [scrollEvents]="true">

  <!--CONTENIDO DE CONTENEDOR DONDE EXPLICAMOS INFORMACIÓN DE LA PANTALLA-->
  <p>Has seleccionado un <b>{{juegoSeleccionado.Tipo}}</b> de tipo <b>{{juegoSeleccionado.Modo}}</b> </p>


  <!--SE HACE DISTINCIÓN ENTRE TIPO DE JUEGO DE PUNTOS Y DE COLECCIONES-->

  <!--Para el caso de un juego de Puntos-->
  <div *ngIf="juegoSeleccionado.Tipo === 'Juego De Puntos'">
    <div *ngIf="juegoSeleccionado.Modo === 'Individual'">

      <ion-grid>
        <!--Se define la cabecera de la tabla del ranking del juego de Puntos-->
        <ion-row class="cabecera-tabla">
          <ion-col col-1 style="margin-left: -10%">
            <p><b>Nombre</b></p>
          </ion-col>
          <ion-col col-2 style="margin-left: -7%">
            <p><b>Apellido</b></p>
          </ion-col>
          <ion-col col-3 style="margin-right: -3%">
            <p><b>Puntos</b></p>
          </ion-col>
        </ion-row>

        <!--Se define el contenido de la tabla , es decir los nombbres y los puntos-->
        <ion-row class="casillas-tabla" *ngFor="let item of MisAlumnosAMostrar">
          <ion-col col-1>
            <p><b>{{item.Nombre}}</b></p>
          </ion-col>
          <ion-col col-2>
            <p><b>{{item.PrimerApellido}}</b></p>
          </ion-col>
          <ion-col col-3 style="margin-left:5%">
            <p><b>{{item.PuntosTotalesAlumno}}</b></p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngIf="juegoSeleccionado.Modo !== 'Individual'">

      <ion-grid>

          <ion-col col-6>
            <ion-item class="Informacion" (click)=VerInformacion();> Información
              <ion-icon style="margin-right: 2%;" name="information" item-left></ion-icon>
            </ion-item>
          </ion-col>

        <div *ngIf="NuestroHistorialPuntos[0];else Aviso_no_puntos">
          <ion-list class="puntos-list-bg">
            <p>Tu equipo: <b>{{MisEquiposJuegoPuntosAMostrar[0].Nombre}}</b></p>
            <p>Actualmente dispone de<br>los siguientes puntos:</p>
            <ion-item *ngFor="let punto of NuestroHistorialPuntos">
              <h2>{{punto.Nombre}} :</h2>
              <h2 slot="end"> {{punto.Puntos}} pts.</h2>
            </ion-item>
            <ion-item>
              <h2><b>TOTAL : </b></h2>
              <h2 slot="end"> Puntos</h2>
            </ion-item>
          </ion-list>
        </div>
        <ng-template #Aviso_no_puntos>
          <label class="AvisoNoJuegosActivo">
            Aún no tenéis puntos en este juego</label>
        </ng-template>

        <h3 tappable (click)="VerRanking()">¿Cómo van mis compañeros?</h3>

        <div *ngIf="muestralo">
          <!--Se define la cabecera de la tabla que recoge los alumnos del juego-->
          <ion-row class="cabecera-tabla">
            <ion-col col-1 style="margin-left:-7%">
              <p><b>Equipo</b></p>
            </ion-col>
            <ion-col col-2 style="margin-left: 10%">
              <p><b>Puntos</b></p>
            </ion-col>
          </ion-row>

          <!--Se define el contenido de la tabla que recoge los alumnos del juego-->
          <ion-row class="casillas-tabla" *ngFor="let item of MisEquiposJuegoPuntosAMostrar">
            <ion-col col-1>
              <p><b>{{item.Nombre}}</b></p>
            </ion-col>
            <ion-col col-2 style="margin-left: 13%">
              <p><b>{{item.PuntosTotalesEquipo}}</b></p>
            </ion-col>
          </ion-row>
        </div>

      </ion-grid>
    </div>
  </div>

  <div *ngIf="juegoSeleccionado.Tipo === 'Juego De Colección'">
    <!--Para el caso de Juego Individual-->
    <div *ngIf="juegoSeleccionado.Modo === 'Individual'">
      <ion-button (click)=IrIntercambiarCromos() class="intercambiar-btn" shape="round">
        Intercambiar Cromos
        <ion-icon style="color:  rgb(255, 255, 255);" name="albums" item-left></ion-icon>
      </ion-button>
      <!--Mediante el ion-searchbar permitimos filtrar los alumnos y buscar el deseado-->
      <ion-grid>
        <!--Se define la cabecera de la tabla que recoge los alumnos del juego-->
        <ion-row class="cabecera-tabla">
          <ion-col col-3 style="margin-left:-7%">
            <p><b>Nombre</b></p>
          </ion-col>
          <ion-col col-6 style="margin-left:-5%">
            <p><b>Apellidos</b></p>
          </ion-col>
          <ion-col col-3 style="margin-left:-5%">
            <p><b>Álbum</b></p>
          </ion-col>
        </ion-row>

        <!--Se define el contenido de la tabla que recoge los alumnos del juego-->
        <ion-row class="casillas-tabla" *ngFor="let item of MisAlumnosJuegoColeccion">
          <ion-col col-3>
            <p><b>{{item.Nombre}}</b></p>
          </ion-col>
          <ion-col col-7>
            <p><b>{{item.PrimerApellido}} {{item.SegundoApellido}}</b></p>
          </ion-col>
          <ion-col col-2 style="margin-top:6%;margin-left: 5%">
            <ion-icon style="color: rgb(0, 68, 107);" name="albums" (click)="VerCromosAlumno(item);"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <div *ngIf="juegoSeleccionado.Modo !== 'Individual'">
      <!--Mediante el ion-searchbar permitimos filtrar los alumnos y buscar el deseado-->
      <ion-grid>
        <!--Se define la cabecera de la tabla que recoge los alumnos del juego-->
        <ion-row class="cabecera-tabla">
          <ion-col col-1 style="margin-left:-7%">
            <p><b>Equipo</b></p>
          </ion-col>
          <ion-col col-2 style="margin-left: 10%">
            <p><b>Álbum</b></p>
          </ion-col>
        </ion-row>

        <!--Se define el contenido de la tabla que recoge los alumnos del juego-->
        <ion-row class="casillas-tabla" *ngFor="let item of MisEquiposJuegoColecciones">
          <ion-col col-1 style="margin-left:2%">
            <p><b>{{item.Nombre}}</b></p>
          </ion-col>
          <ion-col col-2 style="margin-top:6%;margin-left: 13%">
            <ion-icon style="color: rgb(0, 68, 107);" name="albums" (click)="VerCromosEquipo(item);"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


</ion-content>