.item-detail-container {
    z-index: -1;
    border-radius: 10px;
    position: relative;
    // margin: 1rem;
    font-family: Righteous;
    width: 100%;
    height: 130px;
    max-width: 100%;
    max-height: 130px;
    background: rgb(191, 234, 240);
    border-radius: 10px;
    border-top-width: 30px;
    border-color: darken($color: #000000, $amount: 4);
    overflow: hidden;
    // margin-left: 5%; 
    margin-top: 1%;
    text-align: start;
    box-shadow: 2px 1px 2px 2px rgba(0, 0, 0, 0.25);
}
ion-toolbar {
    --ion-background-color:rgb(0, 68, 107);
  }
  .ClasspipCabeceraimg{
    position:relative;
    width:30px;
    height:30px;
    margin-left: 10%;
    margin-right: -25%;
    margin-top: -10%;
    margin-bottom: 3%;
}