<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Competición F1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="juegocompf1-content" #content>
  <div *ngIf="juegoSeleccionado.Modo === 'Individual'">
    <div *ngIf="infomialumno !== undefined" class="info-alumno">
      <img class="logo" src="../../assets/img/f1icon.svg" width="100px">
      <h2> Tu posición actual</h2>
      <h3> {{ infomialumno.posicion }}</h3>
    </div>
    <div>
      <ion-card>
        <ion-card-header>
          Gráfico de progreso juego F1
        </ion-card-header>
        <ion-card-content>
          <canvas #barChart></canvas>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-button class="ranking-btn" (click)="InformacionJornadas();">Jornadas</ion-button>
    <ion-button class="ranking-btn" *ngIf="!hideMe" (click)="MuestraElRanking();">Mostrar Ranking</ion-button>
    <ion-button class="ranking-btn" *ngIf="hideMe" (click)="OcultarElRanking();">Ocultar Ranking</ion-button>

    <div *ngIf="hideMe">
      <!-- Muestro el ranking -->
      
      <ion-list>
  
          <ion-item *ngFor="let alumno of rankingIndividualFormulaUno">
            <ion-item >
            <ion-label style="font-size: large;">
              {{alumno.posicion}}. {{alumno.nombre}} {{alumno.primerApellido}}
            </ion-label>
            </ion-item>
            <ion-label  style="font-size: large; color: red; text-align: right;">
              {{alumno.puntos}} pts.
            </ion-label>
          </ion-item>
      </ion-list>
    </div>
  </div>

  <div *ngIf="juegoSeleccionado.Modo !== 'Individual'">
    <div *ngIf="MiEquipo !== undefined" class="info-equipo">
      <img class="logo" src="../../assets/img/f1icon.svg" width="100px">
      <h2> Formas parte del equipo</h2>
      <h3> {{MiEquipo.Nombre}} </h3>
      <h2> Posición actual del equipo</h2>
      <h3> {{ posicionDeMiEquipo }}</h3>
    </div>
    <div *ngIf="MiEquipo !== undefined">
      <ion-card>
        <ion-card-header>
          Gráfico de progreso juego F1
        </ion-card-header>
        <ion-card-content>
          <canvas #barChart></canvas>
        </ion-card-content>
      </ion-card>
    </div>
    <ion-button class="ranking-btn" (click)="InformacionJornadas();">Jornadas</ion-button>
    <ion-button class="ranking-btn" *ngIf="!hideMe" (click)="MuestraElRanking();">Mostrar Ranking</ion-button>
    <ion-button class="ranking-btn" *ngIf="hideMe" (click)="OcultarElRanking();">Ocultar Ranking</ion-button>
    <div *ngIf="hideMe">
      <mat-accordion>
        <mat-expansion-panel  *ngFor="let equipo of rankingEquiposFormulaUno">
          <mat-expansion-panel-header (click)="AlumnosDelEquipo(equipo)">
           
              <ion-item >
                <ion-label *ngIf = "MiEquipo.id === equipo.id" style="font-size: large; width: 200px !important; color:rgb(33, 163, 102);">
                  {{equipo.posicion}}. {{equipo.nombre}}
                </ion-label>
                <ion-label *ngIf = "MiEquipo.id !== equipo.id" style="font-size: large;width: 200px !important;  ">
                  {{equipo.posicion}}. {{equipo.nombre}}
                </ion-label>
              </ion-item>
              <ion-item style="font-size: large; color: red; text-align: right;">
              <ion-label  style="font-size: large; color: red; text-align: right;">
                  {{equipo.puntos}} pts.
              </ion-label>
              </ion-item>
            
          </mat-expansion-panel-header>
          
            <div  *ngFor="let alumno of alumnosEquipo">
              <p *ngIf="alumno.id !== MiAlumno.id" >{{alumno.Nombre}} {{alumno.PrimerApellido}} </p>
              <p *ngIf="alumno.id === MiAlumno.id" style="color:rgb(33, 163, 102);" >{{alumno.Nombre}} {{alumno.PrimerApellido}} </p>
            </div>
      
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</ion-content>