
<ion-content padding class="login-content" *ngIf ="login">
  <div>
    <!-- <ion-item>
      <ion-label>step=100, snaps, </ion-label>
      <ion-range min="1000" max="2000" step="100" snaps="true" color="secondary" [(ngModel)]="singleValue4"></ion-range>
    </ion-item> -->


    <!-- Prueba de wheel selector -->
    <!-- Esto solo lo puedo probar en el emulardor o en el movil -->
<!-- 
    <ion-grid>
      <ion-row>
        <ion-col col-12><span class="selected-tag">Selected:</span> <span class="selected">{{selected}}</span></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><button ion-button round outline (click)="selectFruit()">Fruit</button></ion-col>
        <ion-col><button ion-button round outline (click)="selectANumber()">Number</button></ion-col>
      </ion-row>
      <ion-row>
        <ion-col><button ion-button round outline (click)="selectNamesUsingDisplayKey()">Names</button></ion-col>
      </ion-row>
      
  
    </ion-grid> -->



    <!-- Esto es para hacer la rubrica -->

    <!-- <mat-accordion> -->
      <!-- <mat-expansion-panel *ngFor="let item of data.questionnaire.item;let i = index" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{item.text}}
          </mat-panel-title>
          <mat-panel-description>
            {{cont[i]}}
          </mat-panel-description> 
        </mat-expansion-panel-header>
        <ion-list>
          <ion-item *ngFor="let option of item.options;let j =index">
              <ion-label>{{option.value}}</ion-label>
              <ion-checkbox [(ngModel)]="option.checked" (ionChange)="updateAnswer(i,j,option.value,option.checked)"></ion-checkbox>
          </ion-item>
      </ion-list>
      </mat-expansion-panel> -->
      <!-- Esto es una variante -->
      <!-- <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Self aware panel
          </mat-panel-title>
          <mat-panel-description>
            Currently I am {{panelOpenState ? 'open' : 'closed'}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>I'm visible because I am open</p>
      </mat-expansion-panel> -->
    <!-- </mat-accordion> -->
    <!-- <button type="button" (click)= Resultado() > Listo </button> -->

    <!-- <p *ngIf="hidevalue==false"> {{maxTime}}</p> -->
    <!-- <button type="button" *ngIf = "!recording" (click)= startRecord() > Start </button>
    <button type="button"  *ngIf = "recording" (click)= stopRecord() > Stop </button>
    <button type="button"  *ngIf = "!playing" (click)= play() > Play </button>
    <button type="button" *ngIf = "playing" (click)= pause() > Pause </button>
    <button type="button" (click)= replay() > Replay </button>
    -->
  <!-- <input #file id = "inputInfo" type="file" accept=".mp3,audio/*" (change)="SeleccionarFichero($event)" style="display:none">
  <button style = "height:100px; width:80%" (click) = "ActivarInput()" type="button" class="btn Agregar">
            Seleccionar audio<i class="material-icons">add_photo_alternate</i>
  </button> -->
  <!-- <audio *ngIf = "disponible" controls>
    <source src="http://147.83.118.92:3000/api/imagenes/ImagenColeccion/download/audioFile.mp3" type="audio/mpeg">
  </audio> -->
<!-- 
  <p>{{ this.coords.lat }}</p>
  <p>{{ this.coords.lng }}</p>
  <button type="button" (click)= empezar() > Obtener Coordenadas </button> -->


     <div class="login-logo">
      <img class="logo" width="100" height="100">
    </div>  

    <div class="login-credentials">
      <ion-item  lines="none">
        <ion-input type="text" value="" name="User" placeholder="Nombre de usuario" requiered [(ngModel)]="username"></ion-input>
        <img class="user-input-logo" width="21" height="21" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="password" name="password" placeholder="Contraseña" requiered [(ngModel)]="password"></ion-input>
        <img class="pass-input-logo" width="20" height="20" slot="end">
      </ion-item>

  
     

    
      <ion-button  (click)="Autentificar();" class="login-btn">Log In
      </ion-button>
      <br>
      <br>
      <ion-label  (click)="EnviarContrasena();">¿Olvidaste tu contraseña?
      </ion-label>

   
      <ion-button  *ngIf ="!juegoRapido" (click)="AccesoJuegoRapido();" class="login-btn">Juego Rápido
      </ion-button>

      <br>
      <br>
      <br>
      <ion-label  (click)="AccesoRegistro();">Regístrate en Classpip
      </ion-label>


    </div> 
    
  </div>
</ion-content>

<ion-content padding class="login-content-juego-rapido" *ngIf ="juegoRapido">
  <div>


    <div class="login-logo">
      <img class="logo" width="100" height="100">
    </div> 

    <div class="login-credentials">
      <ion-item lines="none">
        <ion-input type="text" value="" name="clave" placeholder="Clave" requiered [(ngModel)]="clave"></ion-input>
        <img class="user-input-logo" width="21" height="21" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="text" name="nickname" placeholder="Nickname" requiered [(ngModel)]="nickname"></ion-input>
        <img class="pass-input-logo" width="20" height="20" slot="end">
      </ion-item>

      <ion-button (click)="AutentificarJuegoRapido();" class="login-btn">Log In JUEGO RÁPIDO
      </ion-button>
      <ion-button (click)="VolverDeJuegoRapido();" class="login-btn">VOLVER A LOGIN
      </ion-button>
    </div> 
    
  </div>
</ion-content>

<ion-content padding class="login-content-registro" *ngIf ="registro">
  <div>
<!-- 

    <div class="login-logo">
      <img class="logo" width="150" height="150">
    </div>  -->

    <div class="login-credentials">
      <ion-item lines="none">
        <ion-input type="text" value="" name="nombre" placeholder="Nombre" requiered [(ngModel)]="nombre"></ion-input>
        <img class="user-input-logo" width="21" height="21" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="text" name="primerApellido" placeholder="Primer apellido" requiered [(ngModel)]="primerApellido"></ion-input>
        <img class="user-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="text" name="segundoApellido" placeholder="Segundo apellido" requiered [(ngModel)]="segundoApellido"></ion-input>
        <img class="user-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="text" name="username" placeholder="Nombre de usuario" requiered [(ngModel)]="username"></ion-input>
        <img class="user-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>
      <ion-item lines="none">
        <ion-input type="text" name="email" placeholder="email" requiered [(ngModel)]="email"></ion-input>
        <img class="user-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>
      <ion-item lines="none">
        <ion-input type="text" name="contrasena" placeholder="Contraseña" requiered [(ngModel)]="contrasena"></ion-input>
        <img class="pass-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>
      <ion-item lines="none">
        <ion-input type="text" name="contrasenaRep" placeholder="Repite la contraseña" requiered [(ngModel)]="contrasenaRep"></ion-input>
        <img class="pass-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>
      <ion-item lines="none">
        <ion-input type="text" name="identificador" placeholder="Identificador" requiered [(ngModel)]="identificador"></ion-input>
        <img class="user-input-logo" width="20" height="20" slot="end">
      </ion-item>

      <ion-button (click)="Registro();" class="login-btn">REGISTRAR
      </ion-button>
      <ion-button (click)="VolverDeRegistro();" class="login-btn">VOLVER A LOGIN
      </ion-button>
    </div> 
    
  </div>
</ion-content>
