
<ion-content padding class="login-content">
  <div>
    <!-- <p *ngIf="hidevalue==false"> {{maxTime}}</p> -->
    <!-- <button type="button" *ngIf = "!recording" (click)= startRecord() > Start </button>
    <button type="button"  *ngIf = "recording" (click)= stopRecord() > Stop </button>
    <button type="button"  *ngIf = "!playing" (click)= play() > Play </button>
    <button type="button" *ngIf = "playing" (click)= pause() > Pause </button>
    <button type="button" (click)= replay() > Replay </button>
    -->
  <!-- <input #file id = "inputInfo" type="file" accept=".mp3,audio/*" (change)="SeleccionarFichero($event)" style="display:none">
  <button style = "height:100px; width:80%" (click) = "ActivarInput()" type="button" class="btn Agregar">
            Seleccionar imagen<i class="material-icons">add_photo_alternate</i>
  </button>
  <audio *ngIf = "disponible" controls>
    <source src="http://147.83.118.92:3000/api/imagenes/ImagenColeccion/download/audioFile.mp3" type="audio/mpeg">
  </audio> -->

  <!-- <p>{{ this.coords.lat }}</p>
  <p>{{ this.coords.lng }}</p>
  <button type="button" (click)= obtenerPosicion() > Obtener Coordenadas </button>
 -->

    <div class="login-logo">
      <img class="logo" width="150" height="150">
    </div>

    <div class="login-credentials">
      <ion-item lines="none">
        <ion-input type="text" value="" name="User" placeholder="User" requiered [(ngModel)]="nombre"></ion-input>
        <img class="user-input-logo" width="21" height="21" slot="end">
      </ion-item>
      <ion-row style="height: 5px"></ion-row>

      <ion-item lines="none">
        <ion-input type="password" name="password" placeholder="Password" requiered [(ngModel)]="apellido"></ion-input>
        <img class="pass-input-logo" width="20" height="20" slot="end">
      </ion-item>
      <ion-button (click)="Autentificar();" class="login-btn">Log In
      </ion-button>
    </div>
    
  </div>
</ion-content>
