<ion-header class="juegos-header">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button class="menu-btn"></ion-back-button>
    </ion-buttons>
    <ion-title>Jornadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="infojornadas-content">
  <div *ngIf="juegoSeleccionado.Tipo === 'Juego De Competición Liga'">
    <img class="logo-liga" src="../../assets/img/jornadasligaicon.svg" width="100px">
    <p>Resultados de cada jornada</p>  
  </div>
  <div *ngIf="juegoSeleccionado.Tipo === 'Juego De Competición Fórmula Uno'">
    <img class="logo-liga" src="../../assets/img/jornadasf1icon.svg" width="100px">
    <p>Resultados de cada jornada</p>  
  </div>
  <div *ngIf="juegoSeleccionado.Tipo === 'Juego De Competición Torneo'">
    <img class="logo-liga" src="../../assets/img/jornadastorneoicon.png" width="100px">
    <p>Resultados de cada jornada</p>  
  </div>

  <mat-accordion *ngIf="numeroTotalJornadas!==0">
    <div *ngFor="let jornada of JornadasCompeticion; let i=index">
      <mat-expansion-panel class="ranking-acordeon" (click)="ObtenerEnfrentamientosDeCadaJornada(jornada)">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="span">
              <img class="icono-jornada" *ngIf="JornadaFinalizada(JornadasCompeticion[i]) === true"
                src="../../assets/img/check.svg">
              <img class="icono-jornada" *ngIf="JornadaFinalizada(JornadasCompeticion[i]) === false"
                src="../../assets/img/timer.svg">
              <ion-label>
                <h2> <b>Jornada {{i + 1}}</b> </h2>
              </ion-label>
            </div>

          </mat-panel-title>
          <!--           <mat-panel-description>
            <b>{{jornada.Fecha | date: 'dd-MM-yyyy'}}</b>
          </mat-panel-description> -->
        </mat-expansion-panel-header>

        <div *ngIf="juegoSeleccionado.Tipo === 'Juego De Competición Liga'">
          <p *ngIf="jornada.Fecha != undefined"><b>Fecha</b>: {{jornada.Fecha | date: 'dd-MM-yyyy'}}</p>
          <p *ngIf="jornada.Fecha === undefined"><b>Fecha</b>: Sin especificar</p>
          <p><b>Criterio</b>: {{jornada.CriterioGanador}}</p>
          <ion-slides [options]="sliderConfig">
            <ion-slide *ngFor="let enfrentamiento of EnfrentamientosJornadaSeleccionada">
              <div>
                <!-- Si el enfrentamiento es de mi alumno o equipo-->
                <ion-card class="enfrentamiento-card-mialumno" *ngIf= "ImplicadoEnEnfrentamiento (enfrentamiento)">
                    <h2> Enfrentamiento </h2>
                    <h3>{{enfrentamiento.nombreJugadorUno}}</h3>
                    <img class="versus-icon" width="80px" src="../../assets/img/versus.svg">
                    <h3>{{enfrentamiento.nombreJugadorDos}}</h3>
                    
                    <h3><b>Ganador: {{enfrentamiento.nombreGanador}} </b> </h3>
                
               
                </ion-card>
             
                <!-- Si el enfrentamiento es de otros alumnos  o equipos-->
                
                <ion-card class="enfrentamiento-card" *ngIf= "!ImplicadoEnEnfrentamiento (enfrentamiento)">
                  
                    <h2> Enfrentamiento </h2>
                    <h3>{{enfrentamiento.nombreJugadorUno}}</h3>
                    <img class="versus-icon" width="80px" src="../../assets/img/versus2.svg">
                    <h3>{{enfrentamiento.nombreJugadorDos}}</h3>
                    
                    <h3><b>Ganador: {{enfrentamiento.nombreGanador}} </b> </h3>
             
                 
                </ion-card>
              </div>
            </ion-slide>
          </ion-slides>
        </div>
        <div *ngIf="juegoSeleccionado.Tipo === 'Juego De Competición Fórmula Uno'">
          <p *ngIf="jornada.Fecha != undefined"><b>Fecha</b>: {{jornada.Fecha | date: 'dd-MM-yyyy'}}</p>
          <p *ngIf="jornada.Fecha === undefined"><b>Fecha</b>: Sin especificar</p>
          <p *ngIf="jornada.CriterioGanador !== undefined"><b>Criterio</b>: {{jornada.CriterioGanador}}</p>
          <p *ngIf="jornada.CriterioGanador === undefined"><b>Criterio</b>: Sin especificar</p>
   
          <div *ngIf="JornadaFinalizada(jornada) === false">
            <p>Esta Jornada aún no ha finalizado. No hay ganadores todavía.</p>
          </div>
          <div *ngIf="JornadaFinalizada(jornada) === true">
            <ion-item  *ngFor="let participante of GanadoresJornadaF1; let i=index">
              <ion-item lines = "none" style = "width: 20%">
                <img  *ngIf = "imagenesDePerfil[i]" style = "width:40px; height: 40px;" [src]="imagenesDePerfil[i]">
              </ion-item>
              <ion-item lines = "none" style = "width: 60%">
                <ion-label> {{participante.participante}} </ion-label>
              </ion-item>
              <ion-item lines = "none" style = "width: 20%">
                <ion-label> {{participante.puntos}} </ion-label>
              </ion-item>
            </ion-item> 

          </div>

        </div>

        <div *ngIf="juegoSeleccionado.Tipo === 'Juego De Competición Torneo'">
          <p *ngIf="jornada.Fecha != undefined"><b>Fecha</b>: {{jornada.Fecha | date: 'dd-MM-yyyy'}}</p>
          <p *ngIf="jornada.Fecha === undefined"><b>Fecha</b>: Sin especificar</p>
          <p><b>Criterio</b>: {{jornada.CriterioGanador}}</p>
          <ion-slides [options]="sliderConfig">
            <ion-slide *ngFor="let enfrentamiento of EnfrentamientosJornadaSeleccionadaTorneo">
              <div>
                <!-- Si el enfrentamiento es de mi alumno o equipo-->
                <ion-card class="enfrentamiento-card-mialumno" *ngIf= "ImplicadoEnEnfrentamiento (enfrentamiento)">
                    <h2> Enfrentamiento </h2>
                    <h3>{{enfrentamiento.nombreJugadorUno}}</h3>
                    <img class="versus-icon" width="80px" src="../../assets/img/versus.svg">
                    <h3>{{enfrentamiento.nombreJugadorDos}}</h3>
                    
                    <h3><b>Ganador: {{enfrentamiento.nombreGanador}} </b> </h3>
                
               
                </ion-card>
             
                <!-- Si el enfrentamiento es de otros alumnos  o equipos-->
                
                <ion-card class="enfrentamiento-card" *ngIf= "!ImplicadoEnEnfrentamiento (enfrentamiento)">
                  
                    <h2> Enfrentamiento </h2>
                    <h3>{{enfrentamiento.nombreJugadorUno}}</h3>
                    <img class="versus-icon" width="80px" src="../../assets/img/versus2.svg">
                    <h3>{{enfrentamiento.nombreJugadorDos}}</h3>
                    
                    <h3><b>Ganador: {{enfrentamiento.nombreGanador}} </b> </h3>
             
                 
                </ion-card>
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </mat-expansion-panel>
    </div>
  </mat-accordion>
</ion-content>